﻿@page
@model BelajarAsp.Pages.Apalah.IndexModel
@{
}
@inject BelajarAsp.Services.AppSettings MySettings

<p>
    @TempData["ErrorMessage"]
</p>

<p>
    @Model.Foo
</p>

<p>
    @MySettings.A?.B
</p>