﻿@page
@model BelajarAsp.Pages.Apalah.TestModel
@{
}

<form method="post">
    <p>
        @Model.SuccessMessage
    </p>
    <p>
        @Model.Foo @Model.Dua
    </p>
    <div>
        <label asp-for="Name"></label>
        <input asp-for="Name" />
    </div>
    <div>
        <button type="submit">Submit</button>
    </div>
</form>