﻿@page
@model BelajarAsp.Pages.Auth.LoginModel
@{
}

<form method="post">
    <div>
        <label asp-for="Form.Email"></label>
        <input asp-for="Form.Email" />
        @Html.ValidationMessageFor(Q => Q.Form.Email)
    </div>
    <div>
        <label asp-for="Form.Password"></label>
        <input asp-for="Form.Password" />
        @Html.ValidationMessageFor(Q => Q.Form.Password)
    </div>
    <div>
        <button type="submit">Submit</button>
    </div>
</form>