﻿@model BelajarAsp.ViewModels.SomethingViewModel

@{
}

<h1>MVC</h1>

<form method="post">
    <div>
        @Html.LabelFor(Q => Q.Name)
        @Html.TextBoxFor(Q => Q.Name)
    </div>
    <div>
        <button type="submit">Submit</button>
    </div>
</form>