﻿@page
@model BelajarAsp.Pages.Product.CreateModel
@{
}

<h1>Create New Product</h1>
<p>
    <a href="@Url.Page("./Index")">Return to index</a>
</p>

<form method="post">
    <div>
        <label asp-for="Form.Name"></label>
        <input asp-for="Form.Name"/>
        <span asp-validation-for="Form.Name"></span>
    </div>
    <div>
        <label asp-for="Form.Description"></label>
        <textarea asp-for="Form.Description"></textarea>
        <span asp-validation-for="Form.Description"></span>
    </div>
    <div>
        <button type="submit">Create Product</button>
    </div>
</form>