﻿@page "{id:Guid}"
@model BelajarAsp.Pages.Product.DeleteModel
@{
}

<h1>Confirm Delete Product</h1>
<p>
    <a href="@Url.Page("./Index")">Return to index</a>
</p>

<form method="post">
    <p>Apakah anda yakin untuk hapus? @Model.Nama</p>
    <button type="submit">Ya</button>
</form>