﻿@page

@model BelajarAsp.Pages.Product.IndexModel
@{
}

<h1>Manage Products</h1>
<p>
    <a href="@Url.Page("./Create")">Create New Product</a>
</p>

<table>
    <thead>
        <tr>
            <th>
                Product ID
            </th>
            <th>
                Name
            </th>
            <th>
                Description
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Items)
        {
            <tr>
                <td>@item.ProductID</td>
                <td>@item.Name</td>
                <td>@item.Description</td>
                <td>
                    <a href="@Url.Page("/Product/Update", new { id = item.ProductID })">Edit</a>
                    <a href="@Url.Page("/Product/Delete", new { id = item.ProductID })">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<div class="card">
    Gulali
</div>
<div class="card">
    Samsung S10
</div>

@foreach (var item in Model.Items)
{
    <div class="card">
        <p>@item.Name</p>
        <form method="post">
            <input name="id" value="@item.ProductID" type="hidden" />
            <input name="qty" value="1" class="qtybox" />
            <button type="submit">Add to Cart</button>
        </form>
    </div>
}

<style>
    .qtybox {
        width: 32px;
    }

    .card {
        margin: 8px;
        padding: 32px;
        border: 1px solid black;
        background-color: azure;
        text-align: center;
        display: inline-block;
    }
</style>