﻿@page "{id:Guid}"
@model BelajarAsp.Pages.Product.UpdateModel
@{
}

<h1>Edit Product</h1>

<p>
    <a href="@Url.Page("./Index")">Return to index</a>
</p>

<form method="post">
    <div>
        <label asp-for="FormUpdate.NameUpdate"></label>
        <input asp-for="FormUpdate.NameUpdate" />
        <span asp-validation-for="FormUpdate.NameUpdate"></span>
    </div>
    <div>
        <label asp-for="FormUpdate.DescriptionUpdate"></label>
        <textarea asp-for="FormUpdate.DescriptionUpdate"></textarea>
        <span asp-validation-for="FormUpdate.DescriptionUpdate"></span>
    </div>
    <div>
        <button type="submit">Edit Product</button>
    </div>
</form>