﻿@page
@model BelajarAsp.Pages.IndexModel
@{
    var x = 5;
}

<h1>Hello World!</h1>

@if (Model.GetYah)
{
    <p>Ini GET</p>
}
else
{
    <p>Ini POST</p>
}

<p>Halo @Model.Name</p>

<p>
    <a href="@Url.Page("/Product/Detail", new { id = Guid.NewGuid() })">
        Go to Product ID sekian
    </a>
</p>

@if (User.Identity.IsAuthenticated)
{
    <p>
        Hi Hi @User.Identity.Name
    </p>
}

<form method="post">
    <div>
        <label asp-for="Name"></label>
        <input asp-for="Name" />
        @*<label for="name">Namamu</label>
            <input name="name" id="name" placeholder="Ketik namamu" />*@
    </div>
    <div>
        @*<label asp-for="Form.Email"></label>
            <input asp-for="Form.Email" />*@
        @Html.LabelFor(Q => Q.Form.Email)
        @Html.TextBoxFor(Q => Q.Form.Email)
        @Html.ValidationMessageFor(Q => Q.Form.Email)

        @*<label for="password">Password</label>
            <input name="password" id="password" type="password" />*@
    </div>
    <div>
        <label asp-for="Form.Password"></label>
        <input asp-for="Form.Password" type="password" />
        <span asp-validation-for="Form.Password"></span>

        @*<label for="password">Password</label>
            <input name="password" id="password" type="password" />*@
    </div>
    <div>
        <label>
            <input name="macho" type="checkbox" value="macho" />
            macho
        </label>
    </div>
    <div>
        <label>
            <input name="gender" type="radio" value="cowok" />
            cowok
        </label>
        <label>
            <input name="gender" type="radio" value="cewek" />
            cewek
        </label>
    </div>
    <fieldset disabled="disabled">
        <div>
            <label for="apa">Apa</label>
            <select name="apa" id="apa">
                <option value="1">ini</option>
                <option value="2">itu</option>
            </select>
        </div>
        <div>
            <label for="alamat">Alamat</label>
            <textarea name="alamat" id="alamat"></textarea>
        </div>
    </fieldset>
    <div>
        <button type="submit">Submit</button>
        @*<input type="submit" />*@
        @(1 + 1)
        @("Hallo" + (1 + 2))
        @x
        @@
        &amp;
        @("&")
    </div>
    @if (x > 5)
    {
        <p>Gede</p>
    }
    else
    {
        <p>kecil</p>
    }
    @for (var i = 0; i < x; i++)
    {
        <p>@i</p>
    }
    <div>
        <img src="./test.jpg" alt="kalo nggak keload" />
        <p>
            <a href="/">Return to home</a>
        </p>
    </div>
</form>

<table>
    <thead>
        <tr>
            <th>Header</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>isi</td>
        </tr>
    </tbody>
</table>

<p>
    <ul>
        <li>Halo</li>
    </ul>
    <ol>
        <li>Hello</li>
    </ol>
</p>

<div>
    @*<script>
            console.log('Hello World!');
        </script>
        <style>
            body {
                background-color: red;
            }
        </style>*@
</div>